/* Variable declarations begin with two dashes (-) and are given a name and a value like this: --variable-name: value;. 
In the rule for the bb1 class, create a variable named --building-color1 and give it a value of #999
STEP 14
*/

.bb1 {
  width: 10%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  --building-color1: #999;
}

---------------------------------------------------------

